nav {
    background-color: #333;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
#divPrincipal {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    max-width: 800px; /* Define uma largura máxima */
    margin: auto; /* Centraliza a div */
}

#divPrincipal h5, #divPrincipal p {
    width: 100%; /* Faz com que os elementos respeitem a largura da div */
}


#buttonPrincipal {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    margin-top: 10px;
}

#buttonPrincipal button {
    margin: 0 10px; /* Adiciona espaço horizontal entre os botões */
}
hr {
    border: 1px solid #333; /* Cor e espessura da linha */
    width: 80%; /* Largura da linha */
    margin: 20px auto; /* Espaçamento e centralização */
}
#titulo{
    text-align: left;
    margin-left: 260px;
}
#divParte2 {
    text-align: left;
    display: flex;
    flex-direction: row; /* Mudado para 'row' para alinhar lado a lado */
    justify-content: left;
    align-items: center; /* Ajuste para centralizar verticalmente */
    max-width: 800px;
    margin: auto;
}

#divParte2 img {
    margin: 0 10px;
    width: 300px; /* Ajuste de largura */
    height: auto; /* Mantém a proporção */
}
#textoPrincipal{
    text-align: left;
    margin-left: 260px;
    margin-right: 260px;
}
#realizarCad {
    display: flex; /* Exibe os formulários lado a lado */ /* Distribui o espaço entre os formulários */
    gap: 10px; /* Adiciona um espaço entre os formulários */
} 
#formCadastro, #formEntrar {
    background-color: rgba(51, 51, 51, 0.8); /* Fundo com transparência */
    padding: 20px;
    border-radius: 10px; /* Borda arredondada */
    border: 1px solid #333; /* Borda visível */
    width: 30%; /* Controla a largura dos formulários, ajustando para que caibam lado a lado */
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    

}

#formCadastro h2, #formEntrar h2 {
    text-align: center;
    color: white; /* Cor do título */
}

form {
    color: white; /* Cor do texto no formulário */
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 60%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #333;
}

input[type="submit"] {
    background-color: #4CAF50; /* Cor do botão */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

